{% extends 'base.html.twig' %}

{% block title 'Mon CV' %}

{% block body %}
    <div class="body-site">
        <!-- Start Body Sity -->

        <div class="navbar-header background-2">
            <!--=========== Start Navbar ============-->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container"> <a class="navbar-brand" href="#"><img class="img-fluid" src="assets/images/langelo.png" alt="image"></a> <button class="navbar-toggler" type="button"
                                                                                                                                                         data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                                                                                                                                         aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse text-uppercase" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-1">Services</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-2">A propos</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-3">Competence</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-4">Projets</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-5">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="#" data-scroll="se-6">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--=========== End Navbar ============-->
            <!--=========== Start Header ============-->
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="image-header text-center"> <img class="img-fluid" src="assets/images/{{ profil.image }}" alt="image">
                                <div class="icons-head">
                                    {% for social in reseaux %}
                                        <a href="{{ social.lien }}" ><i class="fa fa-{{ social.reseau }} icon-style"></i></a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="text-header">
                                <h1>Bonjour, <br> Je suis <span class="color-name">{{ profil.firstName }}</span><br> <span class="text-uppercase">{{ profil.title }}</span> </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--=========== End Header ============-->
        </div>
        <!--=========== Start Services Section ============-->
        <section id="se-1" class="services text-center">
            <div class="container">
                <div class="head-section">
                    <h2>services</h2>
                </div>
                <div class="owl-carousel">
                    <!-- Start Item 1 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-code fa-3x mb-3"></i>
                            <h4 class="card-title">Development</h4>
                            <div class="line-card"></div>
                            <p class="card-text">Some quick example text to build on the card title and the bulk .</p>
                        </div>
                    </div> <!-- End Item 1 -->
                    <!-- Start Item 2 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-camera-retro fa-3x mb-3"></i>
                            <h4 class="card-title">Photography</h4>
                            <div class="line-card"></div>
                            <p class="card-text">Some quick example text to build on the card title and the bulk .</p>
                        </div>
                    </div> <!-- End Item 2 -->
                    <!-- Start Item 3 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-laptop fa-3x mb-3"></i>
                            <h4 class="card-title">Web Deisgn</h4>
                            <div class="line-card"></div>
                            <p class="card-text">Some quick example text to build on the card title and the bulk .</p>
                        </div>
                    </div> <!-- End Item 3 -->
                    <!-- Start Item 4 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-wordpress fa-3x mb-3"></i>
                            <h4 class="card-title">wordpress</h4>
                            <div class="line-card"></div>
                            <p class="card-text">Some quick example text to build on the card title and the bulk .</p>
                        </div>
                    </div> <!-- End Item 4 -->
                    <!-- Start Item 5 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-briefcase fa-3x mb-3"></i>
                            <h4 class="card-title">Support</h4>
                            <div class="line-card"></div>
                            <p class="card-text">Some quick example text to build on the card title and the bulk .</p>
                        </div>
                    </div> <!-- End Item 5 -->
                    <!-- Start Item 6 -->
                    <div class="card">
                        <div class="card-body"> <i class="fa fa-envira fa-3x mb-3"></i>
                            <h4 class="card-title">WoComerce</h4>
                            <div class="line-card"></div>
                            <p class="card-text">Some quick example text to build on the card title and the bulk .</p>
                        </div>
                    </div> <!-- End Item 6 -->
                </div> <!-- End owl carousel -->
            </div>
        </section>
        <!--=========== End Services Section ============-->
        <!--=========== Start About Section ============-->
        <section id="se-2" class="about background-2 ">
            <div class="container">
                <div class="head-section">
                    <h2>Information personnel</h2>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="head-about mb-4">
                            <p> <b>Je suis {{ profil.firstName }}</b>, {{ profil.biographie }}</p>
                        </div>
                        <ul class="list-unstyled p-0">
                            <li>
                                <p>Nom complet<span>:</span></p> <span>{{ profil.fullName }}</span>
                            </li>
                            <li>
                                <p>Age<span>:</span></p> <span>{{ profil.age }}</span>
                            </li>
                            <li>
                                <p>T&eacute;lephone<span>:</span></p> <span>{{ profil.telephone }}</span>
                            </li>
                            <li>
                                <p>E-mail<span>:</span></p> <span>{{ profil.email }}</span>
                            </li>
                            <li>
                                <p>Adresse<span>:</span></p> <span>{{ profil.adresse }}</span>
                            </li>
                        </ul> <span class="bnt-about d-inline-block"><a class="text-uppercase" href="/CV.pdf">Telecharger CV</a></span>
                    </div>
                    <div class="col-md-5 hidden-md">
                        <div class="img-about"> <a href="assets/images/resume.png" data-lightbox="me" data-title="{{ profil.firstName }}"><img
                                        class="img-fluid" src="assets/images/resume.png" alt="{{ profil.firstName }} image"></a> </div>
                    </div>
                </div> <!-- row -->
            </div>
        </section>
        <!--=========== End About Section ============-->
        <!--=========== Start Skills Section ============-->
        <section id="se-3" class="skills">
            <div class="container">
                <div class="head-section">
                    <h2>Mes comp&eacute;tence</h2>
                </div>
                <div class="row">
                    <div class="col-lg-7">
                        <div class="video-bg text-center" data-lity data-lity-target=" ">
                            <!-- Hear Link Video -->
                            <div class="video"> <a href="#"><i class="fa fa-play"></i></a>
                                <h3 class="mt-2">Regarder mon vid&eacute;o</h3>
                            </div> <img class="img-fluid" src="assets/images/12.jpg" alt="video skills">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="skills">
                            <div class="prog"> <span class="title-prog">Photoshop</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> <span>80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prog"> <span class="title-prog">Web Design</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="90"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 90%;"> <span>90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prog"> <span class="title-prog">web development</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="70"
                                         aria-valuemin="0" aria-valuemax="70" style="width: 70%;"> <span>70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prog"> <span class="title-prog">wordpress</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="78"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 78%;"> <span>78%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prog"> <span class="title-prog">Color option</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="74"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 74%;"> <span>74%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prog"> <span class="title-prog">Writing content</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> <span>60%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="prog"> <span class="title-prog">support</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="77"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 77%;"> <span>77%</span>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Skills -->
                    </div>
                </div> <!-- row -->
            </div>
        </section>
        <!--=========== End Skills Section ============-->
        <!--=========== Start Works Section ============-->
        <section id="se-4" class="works background-2">
            <div class="container">
                <div class="head-section text-center">
                    <h2>Mes projets</h2>
                </div>
                <ul class="shuffle list-unstyled text-center">
                    <li class="selected" data-filter="all">Tous</li>
                    <li class="" data-filter=".ws">Websites</li>
                    <li class="" data-filter=".gr">Graphic</li>
                    <li class="" data-filter=".wa">web apps</li>
                </ul>
                <div class="gallery contact">
                    <!-- Satrt Gallery -->
                    <div class="row">
                        <div class="mix ws col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_02.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 1"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_02.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">web</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix gr col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_03.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 2"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_03.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">Graphic</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix ws col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_04.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 3"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_04.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">web</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix ws col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_05.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 4"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_05.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">web</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix gr col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_06.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 5"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_06.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">Graphic</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix gr col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_07.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 6"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_07.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">Graphic</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix wa col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_08.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 7"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_08.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">app</span>
                                </div>
                            </div>
                        </div>
                        <div class="mix wa col-lg-3 col-md-4 col-sm-6">
                            <div class="item">
                                <div class="card-img">
                                    <div class="overlay"> <a href="assets/images/works/portfolio_09.jpg" data-lightbox="image-1"
                                                             data-title="Description The Work 8"><i class="fa fa-search"></i></a> <a
                                                href="#"><i class="fa fa-link"></i></a> </div> <img src="assets/images/works/portfolio_09.jpg"
                                                                                                    alt="img work">
                                </div>
                                <div class="card-body">
                                    <h6 class="pull-left">project name</h6> <span class="pull-right">app</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Gallery -->
            </div>
        </section>
        <!--=========== End Works Section ============-->
        <!--=========== Start Resume Section ============-->
        <section id="se-5" class="resume">
            <div class="head-section text-center">
                <h2>Resume</h2>
            </div>
            <div class="container ex-container">
                <div class="work-experiense">
                    <!-- Start Work Experiense -->
                    <div class="ex-block mb-head ex-block-right">
                        <div class="marker-head"><i class="fa fa-briefcase"></i></div>
                        <div class="ex-content b-r">
                            <h3>Work Experiense</h3>
                        </div>
                    </div>
                    <div class="ex-block ex-block-left">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow">
                            <h4>UI/UX - Abc Inc</h4> <span>May-June 2017</span>
                            <p> Believe it or not its just me. Texas tea. Come and knock on our door. We've been
                                waiting for you where are herhers and his. Three's company too. </p>
                        </div>
                    </div>
                    <div class="ex-block ex-block-right">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow b-r">
                            <h4>Font End Developer - Facebook Inc</h4> <span>January-April 2017</span>
                            <p> Believe it or not its just me. Texas tea. Come and knock on our door. We've been
                                waiting for you where are herhers and his. Three's company too. </p>
                        </div>
                    </div>
                    <div class="ex-block ex-block-left">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow">
                            <h4>Web Designer - Google Inc</h4> <span>June 2014 - September 2016</span>
                            <p> Believe it or not its just me. Texas tea. Come and knock on our door. We've been
                                waiting for you where are herhers and his. Three's company too. </p>
                        </div>
                    </div>
                </div> <!-- End Work Experiense -->
                <div class="education">
                    <!-- Start Education -->
                    <div class="ex-block mb-head mt-head ex-block-right">
                        <div class="marker-head"><i class="fa fa-graduation-cap"></i></div>
                        <div class="ex-content b-r">
                            <h3>Education</h3>
                        </div>
                    </div>
                    <div class="ex-block ex-block-left">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow">
                            <h4>High School</h4> <span>June 2014 - September 2016</span>
                            <p> Believe it or not its just me. Texas tea. Come and knock on our door. We've been
                                waiting for you where are herhers and his. Three's company too. </p>
                        </div>
                    </div>
                    <div class="ex-block ex-block-right">
                        <div class="marker"></div>
                        <div class="ex-content ex-shadow b-r">
                            <h4>IT Academy</h4> <span>January-April 2017</span>
                            <p> Believe it or not its just me. Texas tea. Come and knock on our door. We've been
                                waiting for you where are herhers and his. Three's company too. </p>
                        </div>
                    </div>
                </div> <!-- End Education -->
            </div>
        </section>
        <!--=========== End Resume Section ============-->
        <!--=========== Start Clients Section ============-->
        <section class="clients background-2">
            <h2 class="d-none">Clients</h2>
            <div class="container">
                <div class="owl-carousel"> <a href="#" class="item"><img src="assets/images/clients/client_1.png" alt="clinet image"></a>
                    <a href="#" class="item"><img src="assets/images/clients/client_2.png" alt="clinet image"></a> <a href="#"
                                                                                                                      class="item"><img src="assets/images/clients/client_3.png" alt="clinet image"></a> <a href="#" class="item"><img
                                src="assets/images/clients/client_4.png" alt="clinet image"></a> <a href="#" class="item"><img src="assets/images/clients/client_5.png"
                                                                                                                               alt="clinet image"></a> <a href="#" class="item"><img src="assets/images/clients/client_6.png" alt="clinet image"></a>
                    <a href="#" class="item"><img src="assets/images/clients/client_7.png" alt="clinet image"></a> <a href="#"
                                                                                                                      class="item"><img src="assets/images/clients/client_8.png" alt="clinet image"></a> </div>
            </div>
        </section>
        <!--=========== End Clients Section ============-->
        <!--=========== Start Contacts Section ============-->
        <section id="se-6" class="contacts">
            <div class="container">
                <div class="head-section text-center">
                    <h2>get in touch</h2>
                </div>
                <div class="row">
                    <div class="col-lg-8 m-auto">
                        <!-- Form Contact -->
                        <form method='post'><input type='hidden' name='form-name' value='form 1' />
                            <div class="row box-form">
                                <div class="col-12 col-lg-6"><input name="name" class="form-control mt-3" placeholder="Name"
                                                                    type="text"></div>
                                <div class="col-12 col-lg-6"><input name="email" class="form-control mt-3" placeholder="Email"
                                                                    type="email"></div>
                                <div class="col-12"><input name="Subject" class="form-control mt-3" placeholder="Subject"
                                                           type="text"></div>
                                <div class="col-12"><textarea class="mt-3 form-control" placeholder="Your Message here.."
                                                              rows="3"></textarea></div>
                                <div class="m-auto"><button name="send" type="submit" class="mt-3 btn">Send Message</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <!-- Google Map -->
                        <div class="contact"> <iframe width="100%" height="409" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D8%B4%D8%B1%D9%83%D8%A9%20%D9%85%D8%A7%D8%AA%D8%B1%D9%8A%D9%83%D8%B3%20%D8%AF%D9%83%D8%B1%D9%86%D8%B3&amp;key=AIzaSyC_jve2E_L-PR_6Ami-1ySq7LeGyXZh0tA"
                                                      allowfullscreen></iframe> </div>
                    </div>
                </div> <!-- Row -->
            </div>
        </section>
        <!--=========== End Contacts Section ============-->
    </div> <!-- End Body Sity -->
    <!--=========== Start Footer Section ============-->
    <footer class="footer text-center">
        <h2>Angelo</h2>
        <div class="text-cenater">
            {% for social in reseaux %}
                <a href="{{ social.lien }}" ><i class="fa fa-{{ social.reseau }} icon-style"></i></a>
            {% endfor %}
        </div>
    </footer> <span class="rights">Tous droits reserv&eacute;s © 2019 D&eacute;veloppement <a href="#">Angelo</a></span>
    <!--=========== End Footer Section ============-->
    <!--=========== Start Loading Section ============-->
    <div class="loading-over">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--=========== End Loading Section ============-->
    <!--=========== Start Scroll Top ===========-->
    <div class="scroll-top"> <i class="fa fa-arrow-up"></i> </div>

{% endblock %}